.direction {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 2rem;
  padding: 0;
  a {
    line-height: 2;
    font-size: 1.6rem;
    color: #969697;
    font-weight: 500;
  }

  svg {
    vertical-align:sub;
  }

  .selected {
    color: #2E2E2F;
    font-weight: 700;
  }
}

.contact {
  padding: 7rem 0;
}

.contact .container {
  gap: 4rem;

  .col-1 iframe {
    width: 100%;
    border-radius: 10px;
  }
}