$black: #10221b;
$white: #fff;
$red: #a50413;
$boder: 0.2rem solid $red;

// header
.animation-tag-a {
  position: relative;
  color: #2e2e2f;

  &::after {
    content: "";
    height: 3px;
    width: 0;
    background: $red;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.4s;
  }

  &:hover::after {
    width: 100%;
    color: $red;
  }
}

header {
  // min-height: 100vh;
  .logo {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    p {
      font-size: 4.8rem;
      font-weight: 400;
      color: #a50413;
      font-family: SVN-Allogist;
      text-align: center;
      margin: 4.2rem 0 2.2rem;
    }

    .icons {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    // align-items: center;
    column-gap: 3.2rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #434344;
    font-weight: 500;

    a {
      line-height: 2;

      svg {
        vertical-align:text-top;
      }
    }
  }

  .banner {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 8px 7px;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 1rem !important;
        height: 1rem !important;
        background: white !important;
        opacity: 1 !important;
      }

      .swiper-pagination-bullet-active {
        background: none !important;
        border: 2px solid white;
        width: 1.3rem !important;
        height: 1.3rem !important;
      }
    }

    margin-top: 2rem;
    img {
      width: 100%;
    }
  }

  .notice {
    margin: 8rem 0;
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 15rem;

    .box {
      img {
        width: 10rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 1.6rem;
      }
    }
  }
}

// about
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // gap: 2rem;

  .container {
    flex: 1 1 30rem;

    h2 {
      color: #2e2e2f;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }

    h3 {
      color: #a50413;
      font-size: 32px;
      font-family: SVN-Allogist;
      font-weight: 400;
    }

    .content {
      margin: 2.4rem 0;

      p {
        color: #2e2e2f;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 22px;
        width: 95%;
      }
    }
  }

  .image {
    flex: 1 1 30rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5rem;

    img {
      width: 70%;
      box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
    }
  }
}

// best-seller

.best-seller {
  // .navigation {
  //   display: flex;
  //   justify-content: center;
  //   gap: 3.2rem;
  //   cursor: pointer;

  //   a {
  //     color: #5B6581;
  //     font-size: 1.6rem;
  //     font-weight: 500;

  //     &:hover {
  //       color: $red;
  //     }
  //   }
  // }

  .list-product {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 8px 7px;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 1rem !important;
        height: 1rem !important;
        // border-radius: 50%;
        background: $red !important;
        opacity: 1 !important;
      }

      .swiper-pagination-bullet-active {
        background: none !important;
        border: 1px solid $red;
        width: 1.3rem !important;
        height: 1.3rem !important;
      }
    }

    .swiper {
      padding: 0 1rem 1rem 1rem !important;
    }

    // padding: 0 20px;
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2.4rem;
      margin-top: 6rem;

      .box {
        padding: 0 3rem 2.5rem;

        &:hover {
          box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
        }

        h2 {
          color: #a50413;
          font-size: 1.8rem;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 1.2rem;
          margin-top: 1rem;
        }

        .content {
          font-size: 1.4rem;
          font-weight: 500;
          color: #828282;
          line-height: 2rem;
          margin-bottom: 1rem;
        }

        .cost {
          color: #2e2e2f;
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 1.6rem;
        }

        .button {
          display: grid;
          grid-template-columns: 1fr 42px;
          column-gap: 0.8rem;
          .detail {
            font-size: 18px;
            padding: 1rem;
            background-color: rgba(165, 4, 19, 0.2);
            color: $red;
            font-weight: 600;
            border-radius: 10px;
            text-align: center;

            &:hover {
              background-color: $red;
              color: #e8e8e8;
            }
          }

          .cart {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $red;
            border-radius: 7px;

            // &:hover {
            //   border-color: white;
            //   background-color: $red;
            //   color: white;

            // }
          }
        }
      }
    }
  }
}

// banner
.banner-2 {
  margin-bottom: 7rem;
  .content {
    position: relative;

    h1 {
      position: absolute;
      font-size: 6.4rem;
      font-family: SVN-Allogist;
      font-weight: 400;
      text-align: center;
      color: white;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0 9%;
    }
  }
}

//category
.category {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3rem;

  .content {
    h1 {
      color: #a50413;
      font-size: 4.2rem;
      font-family: SVN-Allogist;
      font-weight: 400;
    }

    p {
      font-size: 1.6rem;
      color: #585859;
      font-weight: 500;
      line-height: 24px;
      margin: 2.4rem 0;
    }
    // background-color: #A50413;
  }

  .list-category {
    // background-color: green;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2.5rem;

      .box {
        padding: 0 3rem 2.5rem;
        cursor: pointer;

        p {
          color: #848ba1;
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2.4rem;
          font-weight: 700;
          // color: #0A0C14;
        }

        &:hover {
          box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
          color: #a50413;
        }
      }
    }
  }
}

// news
.news {
  .navigation {
    margin-bottom: 2.4rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;

    .box {
      cursor: pointer;

      .thumbnail {
        width: 100%;
        object-fit: cover;
      }

      .title {
        color: #2e2e2f;
        font-size: 2.4rem;
        font-weight: 700;
        padding: 2.4rem 0 1.2rem;
        line-height: 3.6rem;
      }

      .content {
        color: #434344;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.8rem;
        margin-bottom: 1.6rem;
      }

      .infor-author {
        display: grid;
        column-gap: 1.4rem;
        grid-template-columns: 4.4rem 1fr;
        align-items: center;

        .name {
          color: #2e2e2f;
          font-size: 1.6rem;
          font-weight: 500;
          margin: 0.4rem 0;
        }

        .datetime {
          color: #969697;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.8rem;
  }
}

// section comment
.comment {
  .open {
    color: #434344;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .list-comment {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 8px 7px;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 1rem !important;
        height: 1rem !important;
        // border-radius: 50%;
        background: $red !important;
        opacity: 1 !important;
      }

      .swiper-pagination-bullet-active {
        background: none !important;
        border: 1px solid $red;
        width: 1.3rem !important;
        height: 1.3rem !important;
      }
    }
    padding: 3.2rem 2rem 0;
    .box {
      .info-comment {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;

        .image {
          width: 12rem;
          img {
            border-radius: 50%;
          }
        }

        .name {
          color: #0a171f;
          font-size: 2.4rem;
          font-weight: 700;
          margin-bottom: 0.8rem;
        }

        .job {
          color: #434344;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }

      .detail {
        text-align: center;
        color: #434344;
        font-size: 1.8rem;
        margin: 2.4rem 0;
        line-height: 28px;
        padding: 0 6rem;
      }
    }
  }
}

// section contact

.text-form {
  color: #969697;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.input-form {
  height: 3.2rem;
  border: 0.5px #828282 solid;
  border-radius: 6px;
  width: 100%;
  padding: 0 1rem;
}

.contact {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.6rem;
    align-items: center;

    .col-1 {
      // justify-self: end;
    }

    .col-2 {
      h1 {
        color: #2e2e2f;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2.4rem;
        text-align: center;
      }

      h2 {
        color: #6d6d6d;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.2rem;
        margin-bottom: 2.4rem;
        font-weight: 400;
      }

      form {
        .form-name {
          margin-bottom: 2.4rem;
        }

        .form-info {
          display: flex;
          gap: 2.4rem;
          margin-bottom: 2.4rem;

          .phone-number,
          .email {
            flex: 1 1 100%;
          }
        }

        .form-question {
          textarea {
            height: 15rem;
            resize: none;
            padding: 1rem;
          }
        }
      }

      .button {
        display: flex;
        justify-content: center;
        margin-top: 2.4rem;
      }
    }
  }
}

// section footer
.text-footer {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 1.2rem;
  display: block;

  // &:hover {
  //   font-weight: 600;
  // }
}

// .flex-footer {
//   display: flex;
//   flex-direction: column;

// }

.footer {
  .row-1 {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    column-gap: 3rem;
    padding-top: 10rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid white;

    .address {
      // margin-right: 100px;
      h1 {
        color: white;
        font-size: 4.8rem;
        font-family: SVN-Allogist;
        font-weight: 400;
        margin-bottom: 1.6rem;
      }

      svg {
        vertical-align: middle;
        margin-right: 0.8rem;
      }
    }

    h2 {
      color: white;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1.2rem;
    }

    .introduce a:hover,
    .product a:hover,
    .guide a:hover {
      font-weight: 600;
    }
  }

  .row-2 {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copy-right {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.6rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(46, 46, 47, 1) !important;
  background-color: rgba(232, 232, 232, 1) !important;
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 50%;
}
